<div id="footer">


    <p>This demo project was built by <a href="http://www.willworth.dev">Will Worth</a>. <br>
    <p>“Fall in love with the process and the results will come.” — Eric Thomas</p>
    </p>
</div>

<script src="/js/main.js"></script>
</body>

</html>