<div class="Navbar">
    <div class="Navbar__Link Navbar__Link-brand">
        <a href="/">Songbook</a>
    </div>
    <div class="Navbar__Link Navbar__Link-toggle">
        <i class="fas fa-bars"></i>
    </div>
    <nav class="Navbar__Items">


    </nav>
    <nav class="Navbar__Items Navbar__Items--right">


        <% if (isAuthenticated) { %>
        <div class="Navbar__Link">
            <a href="/music/allsongs">allsongs</a>
        </div>
        <div class="Navbar__Link">
            <a href="/music/addsong">addsong</a>
        </div>


        <div class="Navbar__Link">
            <a href="/about">about</a>
        </div>


        <div class="Navbar__Link">
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
        </div>


        <div class="Navbar__Link">
            <a href="/">YES logged in!</a>
        </div>



        <% } else { %>



        <div class="Navbar__Link">
            <a href="/register">register</a>
        </div>


        <div class="Navbar__Link">
            <a href="/login">login</a>
        </div>
        <div class="Navbar__Link">

            <a href="/">NOT logged in!</a>
        </div>
        <% } %>


    </nav>
</div>