<%- include('./partials/head.ejs') %>

</head>
<%- include('./partials/header.ejs') %>
<div class="bodywrapper">
    <main>
    <h1>This is Songbook</h1>
        <p>This is a simple application for storing songs - or any text. 
        If you want to try it, you need to <a href="/register">register</a>. <br>
         If you have any feedback, suggestions or questions, please <a href="mailto:willworthdev@gmail.com">send me an email</a>. </p>
       <p>You can see the <a href="https://github.com/willworth/songbook">source code on github</a>,
        or visit my <a href="https://willworth.dev">main developer website</a>. <br>
         Thanks for your interest.</p>  

        <img class="homepageMuso" src="/img/musician.jpg" alt="musician">
    </main>

</div>

<%- include('./partials/footer.ejs') %></div>