<%- include('./partials/head.ejs') %>

</head>
<%- include('./partials/header.ejs') %>
<div class="bodywrapper">
    <main>

        <h1> this is Simple Crud</h1>
        <p>This is a simple note taking application I've built to practise my coding skills.
            For now, it's very simple. Later, I may add various other features. If you have any feedback, suggestions or
            questions,
            please <a href="mailto:willworthcoding@gmail.com">send me an email</a>. </p>

        <p>“Fall in love with the process and the results will come.” — Eric Thomas</p>


        <p>“Reflect upon your blessings, of which everyone has plenty, not
            on your past misfortunes, of which everyone has some.” Charles Dickens</p>


        <img class="homepageMuso" src="/img/musician.jpg" alt="musician">
    </main>

</div>

<%- include('./partials/footer.ejs') %></div>