body {
    background-color: #2b3e50;
    color: #ebebeb;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.bodywrapper{
max-width: 900px;
margin: 0 auto;
position: relative;
}

a {
  color: wheat;
    background-color: #634d3e;
    text-decoration: none;
}

main {
    padding: 30px;
    /* position: relative; */
    text-align: center;
    max-width: 80vw;
    min-height: 90vh;
    margin: 0 auto;
    background-color: teal;
    border-radius: 10px 10px 2px 2px;
  }
  
  .songDetails{
    white-space: pre;
    text-align: center;
    background-color: black;
    color: darkgray;
    max-width: 80vw;
  }

  /* https://unsplash.com/photos/M6zEthGb1W4 */
  /* https://unsplash.com/photos/rH0mp3o8XvE */
.homepageMuso {
  /* max-width: 900px; */
  margin: 0 auto;
  /* height: 100%; */
  width: 100%;
  /* max-width: 80vw; */
}




#footer {
    color: wheat;
    background-color: #634d3e;
    margin: 0;
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
    height:5vh;
    text-align: right;
    
  }

 
  #footer > p {
    margin: 5px;
    position: relative;
    right:30px;
    bottom: 5px;
    padding: 5px;
  }





  .Navbar {
    background-color: #634d3e;
    border: 3px solid darkslategrey;
    border-radius: 10px 10px 2px 2px;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: darkslategrey;
  }
  
  .Navbar__Link {
    padding-right: 8px;
  }
  
  .Navbar__Items {
    display: flex;
  }
  
  .Navbar__Items--right {
    margin-left:auto;
  }
  
  .Navbar__Link-toggle {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
  
  .Navbar__Items {
      display:none;
    }
  
  .Navbar__Items--right {
      margin-left:0;
    }
  
  .Navbar__ToggleShow {
      display: flex;
    }
  
  .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 
  }